@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Big Shoulders Display */
/* Lexend Deca */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__container {
  height: 499px;
  width: 308px;
  background-color: #E28625;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  text-align: left;
}
.card__top {
  margin-bottom: 7rem;
  padding-left: 2.8rem;
}
.card__bottom {
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.card__icon {
  padding-left: 2.8rem;
  padding-top: 2rem;
  margin-bottom: 0;
}
.card__title {
  font-weight: bold;
  font-size: 40px;
  color: white;
  font-family: Big Shoulders Display;
}
.card__para {
  color: white;
  font-size: 15px;
  max-width: 212px;
  font-family: Lexend Deca;
  line-height: 1.7;
  font-weight: 300;
}
.card__link1 {
  height: 48px;
  width: 146px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}
.card__link1:hover {
 background-color: transparent;
 border: 1px solid white;
 cursor: pointer;
 color: white;
}
.card__link2 {
  height: 48px;
  width: 146px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  color: #006971;
}
.card__link2:hover {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
 }
.card__link3 {
  height: 48px;
  width: 146px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  color: #004140;
}
.card__link3:hover {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
 }
a {
  text-decoration: none;
  color: #E28625;
  align-items: flex-end;
  font-size: 15px;
  font-family: 'Lexend Deca';
}
/* Border radius */
.sedan {
  border-radius: 10px 0 0 10px
}
.suv {
  border-radius: 0 0 0 0;
}
.luxury {
  border-radius: 0 10px 10px 0;
}

/* Media Queries */
@media screen and (min-width: 350px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    height: auto;
  }
  .card__container {
    /* margin-right: 1rem;  */
  }
  .sedan {
    border-radius: 10px 10px 0px 0px;
  }
  .suv {
    border-radius: 0;
  }
  .luxury {
    border-radius: 0 0 10px 10px;
  }
}
/* 
@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    height: auto;
  }
} */

@media screen and (min-width: 1025px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    height: auto;
  }
  .sedan {
    border-radius: 10px 0 0 10px;
  }
  .suv {
    border-radius: 0;
  }
  .luxury {
    border-radius: 0 10px 10px 0;
  }
}